{% extends 'userindex.html'%}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="866" height="181" border="1">-->
    <!--<tr>-->
      <!--<th width="856" height="175" scope="col"><p><a href="view_profile">VIEW PROFILE</a></p>-->
          <!--<p><a href="VIEW_REQUEST_AND_UPDATE">VIEW REQUEST</a></p>-->
        <!--&lt;!&ndash;<p><a href="STATUS">UPDATE WORK</a></p>&ndash;&gt;-->
        <!--<p><a href="VIEW_FEEDBACK">VIEW FEEDBACK</a></p>-->
      <!--<p><a href="/">LOGOUT</a></p></th>-->
    <!--</tr>-->
  <!--</table>-->
  <!--<div align="center"></div>-->
<!--</form>-->
<!--</body>-->
{% endblock %}