<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!--<!DOCTYPE html>-->
<html lang="zxx">

<!-- Head -->

<head>

    <title>EV station Sign Up </title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="../static/signup/css/style.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="../static/signup/css/font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="../static/signup/fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>
<!-- //Head -->

<!-- Body -->

<body>

    <section class="main">
        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="index.html">  Sign Up </a></h1>
            </div>
        </div>
        <!-- register -->
        <div class="w3lhny-register">
            <div class="iconhny">
               <span class="fa fa-user-plus"></span>
             </div>
            <form action="add_and_manage_station1" method="post" class="register-form">
                <fieldset>
                    <div class="form">
                        <div class="form-row">
                            <span class="fa fa-user"></span>
                           
                            <input type="text" class="form-text" placeholder="NAME" name="textfield" required pattern="[A-Z a-z.]{3,25}">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="Place" name="textfield2" required pattern="[A-Z a-z.]{1,25}">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="EMAIL" name="textfield4"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="PHONE" name="textfield3" required pattern="[6789][0-9]{9}" >
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="LATITUDE" name="textfield5" required pattern="[0-9 0-9.]{1,25}">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="LONGITUTDE" name="textfield6" required pattern="[0-9 0-9.]{1,25}">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-user"></span>

                            <input type="text" class="form-text" placeholder="USERNAME" name="textfield7" required >
                        </div>
                        <div class="form-row">
                            <span class="fa fa-lock"></span>
                            
                            <input type="password" class="form-text" placeholder="Password" name="textfield8" required >
                        </div>
                        <div class="form-row button-login">
                            <button class="btn btn-login">Sign Up</button>
                        </div>
                    </div>
                </fieldset>
                </form>

                <!--<span class="create-account">Or Continue With!</span>-->

                <!--<div class="social-media">-->
                    <!--<a href="#facebook" class="fb"><span class="fa fa-facebook"></span></a>-->
                    <!--<a href="#twitter" class="tw"><span class="fa fa-twitter"></span></a>-->
                    <!--<a href="#pinterest" class="pi"><span class="fa fa-pinterest"></span></a>-->
                <!--</div>-->
                <!--<p class="already">Already have an account <a href="#">Sign In</a></p>-->
        </div>
        <!-- //register -->
        <!--<div class="w3l-copyright">-->
            <!--&lt;!&ndash;<p>© 2020 Workspace Sign Up Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a>&ndash;&gt;-->
            <!--</p>-->
        <!--</div>-->
    </section>

</body>
<!-- //Body -->

</html>