{% extends 'm_unit_index.html'%}
{% block body %}
<body>
  <h1>View Assigned Works</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in val %}
        <tr>
          <td>{{i['date']}}</td>
          <td>&nbsp;{{i['fname']}} {{i['lname']}}</td>
          <td>{{i['latitude']}}</td>
          <td>{{i['longitude']}}</td>
          <td>{{i['status']}}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

{% endblock %}