<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html'%}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->

<!--<table width="235" height="161" border="1">-->
  <!--<tr>-->
    <!--<th width="188" scope="row"><a href="manage_ev"> Add and manage EV station</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th width="188" scope="row"><a href="verify_ev"> VERIFY EV charging station</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th width="188" scope="row"><a href="verify_mechanic"> VERIFY MECHANIC</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="MANAGE_PETROL_PUMP">MANAGE PETROL PUMP</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="VIEW__FEEDBACK">VIEW FEEDBACK</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="/">LOGOUT</a></th>-->
  <!--</tr>-->
<!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}