{% extends 'adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="add_and_manage_station">
  <table width="200" border="1" class="table table-dark table-striped">
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">PHONE</th>
      <th scope="col">EMAIL</th>
<!--      <th scope="col">LATITUDE</th>-->
      <th scope="col"></th>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i['name']}} </td>
      <td>&nbsp;{{i['phone']}}</td>
      <td>&nbsp;{{i['email']}}</td>
<!--      <td>&nbsp;{{i['']}}</td>-->
<!--      <td>&nbsp;{{i['']}}</td>-->
            <td> <p><a href="edit_station?id={{i['lid']}}">Edit</a></p>
      <p><a href="delete_station?id={{i['lid']}}">Delete</a></p></td>


    </tr>
    {% endfor %}
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}