{% extends 'EVINDEX.html'%}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="866" height="181" border="1">-->
    <!--<tr>-->
      <!--<th width="856" height="175" scope="col"><p><a href="VIEW_PRO">VIEW PROFILE</a></p>-->
        <!--<p><a href="manage_slot">Add and manage slot</a></p>-->
        <!--<p><a href="VIEW_FEEDBACK_ev">VIEW FEEDBACK</a></p>-->
        <!--<p><a href="view_Booking">VIEW BOOKING</a></p>-->
        <!--<p><a href="manage_mu">ADD AND MANAGE MOBILE UNITY</a></p>-->
        <!--<p><a href="assigm_mobunit">ASSIGN WORK TO MOBILE UNIT</a></p>-->
        <!--&lt;!&ndash;<p><a href="VIEW_FEEDBACK">CHECK WORK STATUS</a></p>&ndash;&gt;-->

      <!--<p><a href="/">LOGOUT</a></p></th>-->
    <!--</tr>-->
  <!--</table>-->
  <!--<div align="center"></div>-->
<!--</form>-->
<!--</body>-->
{% endblock %}