{% extends 'EVINDEX.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="341" border="1" class="table table-dark table-striped">
    <tr>
      <th scope="row">#</th>
      <td>name</td>
      <td>place</td>
      <td>phone</td>
      <td>email</td>
      <td>latitude</td>
      <td>longtitude</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">insert</a></p>
      <p><a href="#">delete</a></p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}