{% extends 'EVINDEX.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-dark table-striped">
    <tr>
      <th width="49" scope="col">driver</th>
      <th width="58" scope="col">vehicle</th>
      <th width="61" scope="col">capacity</th>
      <th width="8" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">edit</a></p>
      <p><a href="#">delete</a></p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}